
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>RP Flask REST API</title>
</head>
<body>
    <h1>Here are some users along with their favourite activities:</h1>

    {% for user in users %}
    <h2>{{ user.Name }}</h2>
    <ul>
        {% for activity in user.activity %}
        <li>{{ activity.Favourite_activity }}</li>
        {% endfor %}
    </ul>
    {% endfor %}
	
	<h1><a href="http://localhost:8000/api/ui/#/" target="_blank">	Visit here for OpenAPI CRUD opperations</a></h1>

</body>
</html>

